.container {
  float:left;
  width:100%;
  min-height: calc(100vh - 135px);
}
.container > * {
  padding: 5px;
}
aside {
  float:left;
  width:20%;
  border: 1px solid #000;
}

section {
  float:left;
  /*width:60%;*/
  border: 1px solid #000;
}

.analyticsData {
  display: flex;
}
.verticalAlign {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}