.contentView {
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: center;
    margin: 10px;
    min-height: 100%;
    width: 40%;
    min-width: 400px;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
