.wrapper {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 10px;
    padding: 10px;
}

.wrapper h2 {
    margin: 10px 30px;
    padding: 0;
    font-size: 16px;
    min-width: 120px;
}

.css-1pcexqc-container {
    width: 100%;
}

button {
    background-color: #6200ee;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
}

button:disabled {
    background-color: #9b999d;
}
